

.widgets{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.widget{
    background: grey;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}
.widget h2{
    margin-top: 0;
    font: siz 1.2em;
    color: #333;
}
