h1 {
    text-align: center;
    color: #333;
}
.h1_style
    {
        display:flex; 
        font-size: inherit; 
        justify-content: center;
        align-items: center; 
        position: relative;
        padding-bottom: 20px; 
    }
    .h1_button_style
    {
        font-size: inherit; 
        background: none; 
        border: none; 
        color: inherit; 
        cursor: pointer; 
        display: flex; 
        align-items: center; 
    }