<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CCS Club Driver Stats</title>
  <!--<link rel="stylesheet" href="taskbar_logged_in.css">
  <link rel="stylesheet" href="widgets.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='taskbar_logged_in.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='widgets.css') }}">
<style>
    body {
        margin: 5;
        font-family: Arial, sans-serif;
    }
    h1 {
            text-align: center;
            color: #333;
        }


    
   
</style>
</head>

<body>
    <h1>
        <button onclick="window.location.href='driver_status_logged_in_home.html';" style="font-size: inherit; background: none; border: none; color: inherit; cursor: pointer;">
    

            CCS Club Driver Stats
        </button>
    </h1>
    <div id="taskbar-container"></div>

    <div class = "buttons">
            <button class="action-btn" oneclick="addCar()">Add Car</button>
            <button class="action-btn" oneclick="removeCar()">Remove Car</button>
        </divdiv>
       

    <div class ="widgets">
        <div class ="widget">
            <h2>Cars</h2>
            <p>Cars driver owns</p>
        </div>

    

    </div>

    <!--<script src="taskbar_logged_in.js"></script>-->
     <script src="{{ url_for('static', filename='taskbar_logged_in.js') }}"></script>
</body>
</html>
