<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CCSCC Driver Stats</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='taskbar_logged_in.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='widgets.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
  

<style>
    body {
        margin: 5;
        font-family: Arial, sans-serif;
    }
  


    
</style>
</head>

<body>
    <h1 class = "h1_style">
        
        <!--<button onclick="window.location.href='driver_status_home.html';" class="h1_button_style">

            <image src="logo.png" alt="CCSCC Logo" style=" position: absolute; left: 0; height: 80px; vertical-align: middle; margin-right: 10px; padding-top: 20px; ">

        </button>-->

         <button onclick="window.location.href='/home_logged_in';" class="h1_button_style">
            
            <image src="{{ url_for('static', filename='logo.png') }}" alt="CCSCC Logo" style=" position: absolute; left: 0; height: 80px; vertical-align: middle; margin-right: 10px;padding-top: 20px; ">
        

        </button>
        <span style = "font-size: xx-large; position: left ">CCSCC Stats </span>

    </h1>
    <div id="taskbar-container"></div>
    <!--
    <div id="taskbar-container"></div>
    <div class ="widgets">
        <div class ="widget">
        <button onclick="window.location.href='stats.html';" style=" font-weight: bold; font-size: x-large; background: none; border: none; color: inherit; cursor: pointer;">
            Driver Stats
        </button>
            <p>input driver stats here</p>
        </div>
    </div>
            
    <div class ="widgets">
        <div class ="widget">
        <button onclick="window.location.href='stats.html';" style=" font-weight: bold; font-size: x-large; background: none; border: none; color: inherit; cursor: pointer;"> 
        <button onclick="window.location.href='/stats_logged_in';" style=" font-weight: bold; font-size: x-large; background: none; border: none; color: inherit; cursor: pointer;">
            Last Event
        </button>
            <p>October 18 & 19, 2025</p>
       </div>
    </div>-->
    
    <!--<script src="taskbar.js"></script>-->
    <script src="{{ url_for('static', filename='taskbar_logged_in.js') }}"></script>

</body>
</html>