
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CCSCC Driver Stats</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='taskbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='widgets.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
  
  


  <style>
      body {
          margin: 5;
          font-family: Arial, sans-serif;
      }
    

</style>
</head>

<body>

    <h1 class = "h1_style">
        
        <!--<button onclick="window.location.href='driver_status_home.html';" class="h1_button_style"> 
            <image src="logo.png" alt="CCSCC Logo" style=" position: absolute; left: 0; height: 80px; vertical-align: middle; margin-right: 10px; padding-top: 20px;">-->
            <button onclick="window.location.href='/';" class="h1_button_style"> 
            <image src="{{ url_for('static', filename='logo.png') }}" alt="CCSCC Logo" style=" position: absolute; left: 0; height: 80px; vertical-align: middle; margin-right: 10px; padding-top: 20px;">

        </button>
        <span style = "font-size: xx-large; position: left ">CCSCC Stats </span>

    </h1>
    <div id="taskbar-container"></div>

    <!--<script src="taskbar.js"></script>-->
    <script src="{{ url_for('static', filename='taskbar.js') }}"></script>

</body>
</html>
