

.widgets{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.widget{
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.widget h2{
    margin-top: 0;
    font: siz 1.2em;
    color: #333;
}
